*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "section-1 section-2";
    gap: 100px;
}

.section-1{
    grid-area: section-1;
}

.section-2{
    grid-area: section-2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-2 div{
    padding: 5%;
    border: 1px solid black;
}


.question-section{
    display: none;
    grid-area: section-1;
}

.answer-section{
    display: none;
    grid-area: section-2;
}

.answer-section .options{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.answer-section .options .option{
    padding: 2%;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    width: 100%;

}

